:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
}

.active {
  border-bottom: 2px solid #AE445A;
}
button , input:focus{
  outline: none !important;
  box-shadow: none !important;
}


@media screen and (max-width: 1000px) {
  .active {
    border-bottom: 2px solid #AE445A !important;
    width: fit-content;
  }
}
